*{
    overflow-x: hidden;
}

  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .hove {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover:hover .hove {
    opacity: 0.9;
  }
  
  .text {
    background-color: palegreen;
    color: white;
    
    padding: 16px 32px;
  }

.loc{
    color: white;
    font-weight: bold;
    font-style: italic;
}
#home{

    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    
    


    
}
body{
    background-color: darkgray;
}

nav{
    text-align: right;
    background-color: palegreen;
    font-weight: 800;                   
    font-size: x-large;
    font-style: normal;
    background-attachment: fixed;
    /* position: fixed; */
    width: 100%;

}
nav li{
display:inline-block;
margin-left: 30px;
padding-bottom: 20px;
padding-top: 20px;
padding-right: 30px;
}
nav a:hover{
    color:red;
}
h1,h2,h3,h4,h5{
    text-align: center;
    color: whitesmoke;
    font-family: 'Knewave', ;

}
#home{
    text-align: center;
    font-weight: bold;
}

#p1:hover {
    position: relative;
    opacity: 0.7;
}
#p2:hover {
  position: relative;
  opacity: 0.7;
}
#p3:hover {
  position: relative;
  opacity: 0.7;
}
#p4:hover {
  position: relative;
  opacity: 0.7;
}
#p5:hover {
  position: relative;
  opacity: 0.7;
}
#p6:hover {
  position: relative;
  opacity: 0.7;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
      background-color: gray;
      color: white;
  }
}
@media screen and (min-width: 768px) {
body {
  background-color: darkgray;
}
}





  